@charset "UTF-8";

@media screen and (min-width: 769px) and (max-width: 992px) {
    div.imagem {
        height: 300px;
        width: 500px; 
    }
    div.formulario {
        height: 400px;
        width: 500px;
    }
    div.formulario div.email, div.senha {
        width: 300px;
    }
    
}