@charset "UTF-8";

@media screen and (min-width: 992px) {
    div.imagem {
        height: 400px;
        width: 400px;
        border-radius: 0px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    div.formulario {
        height: 400px;
        width: 600px;
        border-radius: 0px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        
    }
    div.formulario form input {
        width: 500px;
    }
    div.formulario div.email, div.senha {
        width: 400px;
    }
    .login {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}